*{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    --background: #FAFAFF;
}

.ion-header{
    background: #FAFAFF;
}

ion-select{
    position: absolute;
    background: none;
    width: 65vw;
    height: 10.5vh;
    margin-top: -2vh;
}
ion-select::part(icon) {
    opacity: 0;
}
ion-select::part(text) {
    opacity: 0;
}

ion-content{
    --background: #FAFAFF;
    .containerContent{
        height: 100%;
        width: 90vw;
        margin: 0 auto;
        background: #FAFAFF ;

        >div{
            background: #FFFFFF;
            margin-top: 2vh;
            height: 11.8vh;
            border-radius: 10px;
            display: grid;
        }

        div .title{
            grid-area: title;
            align-self: center;
            font-weight: 500;
            font-size: 1rem;
            line-height: 20px;
            color: black;
            margin-top: 2vh;
        }

        div .icon{
            grid-area: iconn;
            justify-self: center;
            align-self: center;
            border-radius: 50%;
            width: 60px;  
            height : 60px; 
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            align-items: center;

            .avatar ion-icon{
                margin-top: 0.5vh;
                font-size: 32px;
                color: white;
            }
        }

        div .valueOption{
            grid-area: value;
            margin-top: 0.8vh;
            background: none;
            align-self: start;
            color: #828282;
            font-size: 0.9rem;
            font-weight: normal;

            span{
                background: #F2F2F2;
                padding: 0.5vh 1vw 0.5vh 1vw;
                border-radius: 5px;
            }
        }

        .musicOption{
            grid-template-columns: 1fr 3fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            "iconn title title title"
            "iconn value value value";

            .icon{
                background: #9B51E0;

                .avatar ion-icon{
                    margin-top: 0.5vh;
                    margin-left: -1vw;
                    font-size: 32px;
                }
            }

        }
    }
}