*{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    --background: var(--background-color);
}

ion-header{
    height: 11vh;
    background: var(--background-color);

    >p{
        padding-top: 4vh;
        text-align: center;
        font-size: 1.4rem;
        font-weight: bold;
        color: var(--title);
    }
}

ion-content{
    --background: var(--background-color);

    .containerContent{
        height: 100%;
        width: 90vw;
        margin: 0 auto;
        background: var(--background-color) ;

        >div{
            background: var(--background-documentation);
            margin-top: 2vh;
            height: 11.8vh;
            border-radius: 10px;
            display: grid;
        }

        div .title{
            grid-area: title;
            align-self: center;
            font-weight: 500;
            font-size: 1rem;
            line-height: 20px;
            color: var(--title);
            margin-top: 2vh;
        }

        div .icon{
            grid-area: iconn;
            justify-self: center;
            align-self: center;
            border-radius: 50%;
            width: 60px;  
            height : 60px; 
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            align-items: center;

            .avatar ion-icon{
                margin-top: 0.5vh;
                font-size: 32px;
                color: white;
            }
        }

        div .valueOption{
            grid-area: value;
            margin-top: 0.8vh;
            background: none;
            align-self: start;
            color: var(--color-value-option);
            font-size: 0.9rem;
            font-weight: normal;

            span{
                background: var(--background-value-option);
                padding: 0.5vh 1vw 0.5vh 1vw;
                border-radius: 5px;
            }
        }

        .musicOption{
            grid-template-columns: 1fr 3fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            "iconn title title title"
            "iconn value value value";

            .icon{
                .avatar ion-icon{
                    margin-top: 0.5vh;
                    margin-left: -1vw;
                    font-size: 32px;
                }
            }

        }
    }
}

ion-footer{
    background: var(--background-color);
    
    .buttonSave{
        background: #9B51E0;
        height: 11vh;
        border-radius: 30px 30px 0px 0px;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        color: #FFFFFF;

        span{
            justify-self: center;
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 20px;
            padding-right: 2vw;
        }
    }
}