
<ion-header class="ion-header ion-no-border">
  <p>Battery</p>
  <div class="containerHeader">
    <div class="percent">
      <p>60%</p>
    </div>
    <div class="iconBackHome">
      <ion-icon name="chevron-forward"></ion-icon>
    </div>
    <div class="status">
      <p>Activated</p>
    </div>
  </div>
</ion-header>
<ion-content class="ion-no-border">

</ion-content>

<ion-footer class="ion-footer ion-no-border">
  <!--<ion-button (click)="closeModal()">Close Modal</ion-button>-->
  <span>Save Changes</span> <ion-icon name="checkmark-circle"></ion-icon>
</ion-footer>



