<ion-header class="ion-header ion-no-border">
  <p>Battery</p>
  <div class="containerHeader">
    <div class="percent">
      <p>{{battery}}%</p>
    </div>
    <div class="iconBackHome">
      <ion-icon (click)="closeModal()" name="chevron-forward"></ion-icon>
    </div>
    <div class="status">
      <p>Activated</p>
    </div>
  </div>
</ion-header>

<ion-content class="ion-content ion-no-border">
  <p>Settings</p>
  <div class="containerContent">
    <div class="batteryAlarm">
      <div class="icon">
        <div class="avatar">
            <svg width="35" height="35" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M18.67 17C19.4 17 20 16.4 20 15.67V14H22V10H20V8.33C20 7.6 19.4 7 18.67 7H15V17H18.67Z" fill="white" fill-opacity="0.26"/>
              <path d="M15 7L3.33 7C2.6 7 2 7.6 2 8.33V15.66C2 16.4 2.6 17 3.33 17H15V7Z" fill="white"/>
            </svg>
        </div>
      </div>
      <div class="title">
        <ion-select [(ngModel)]="options.batteryLevelAlarm" mode="ios">
          <ion-select-option *ngFor="let percent of percents" [value]="percent">{{percent}}</ion-select-option>
        </ion-select>
        <span>Battery Level Alarm</span>
      </div>
      <div class="valueOption">
        <span>{{options.batteryLevelAlarm}}%</span>
      </div>
    </div>

    <div class="RingtoneSong">
      <div class="icon">
        <div class="avatar">
          <ion-icon name="musical-notes"></ion-icon>
        </div>
      </div>
      <div class="title">
        <span>Ringtone Song</span>
      </div>
      <div class="valueOption">
        <span>Tubarão ft Kant - Nada Pacifico</span>
      </div>
    </div>

    <div class="disturbing">
      <div class="icon">
        <div class="avatar">
          <ion-icon name="notifications-off"></ion-icon>
        </div>
      </div>
      <div class="title">
        <span>Do not Disturbing</span>
        <div class="toggle">
          <ion-toggle [(ngModel)]="options.notDisturbing.active"></ion-toggle>
        </div>
      </div>
      <div class="valueOption">
        <span>22:00 - 08:00</span>
      </div>
    </div>

    <div class="enableAlarm">
      <div class="icon">
        <div class="avatar">
          <ion-icon name="hardware-chip"></ion-icon>
        </div>
      </div>
      <div class="title">
        <span>Enable/Disable alarm with</span>
      </div>
      <div class="valueOption">
        <div class="border">
          <span>Plug-in</span>
          <span>Manual</span>
        </div>
      </div>
    </div>

    <div class="darkMode">
      <div class="icon">
        <div class="avatar">
          <ion-icon name="moon"></ion-icon>
        </div>
      </div>
      <div class="title">
        <span>Dark Mode</span>
        <div class="toggle">
          <ion-toggle [(ngModel)]="options.darkMode.active"></ion-toggle>
        </div>
      </div>
      <div class="valueOption">
        <span>Manual</span>
      </div>
    </div>

    <div class="language">
      <div class="icon">
        <div class="avatar">
          <ion-icon name="language"></ion-icon>
        </div>
      </div>
      <div class="title">
        <span>Language</span>
      </div>
      <div class="valueOption">
        <span>English</span>
      </div>
    </div>
    <br>

  </div>
</ion-content>

<ion-footer class="ion-footer ion-no-border">
  <div class="buttonSave">
    <span>Save Changes</span>
    <ion-icon name="checkmark-circle"></ion-icon>
  </div>
</ion-footer>
