<ion-header>
  <div class="header">
    <span>{{'howUse' | translate}}</span> <ion-icon name="close" (click)="closeModal()"></ion-icon>
  </div>
</ion-header>

<ion-content fullscreen>
  <div class="container">

    <div class="options">
      <div class="title">
        <span>{{'notifcation' | translate}}</span>
      </div>
      <div class="description">
        <p [innerHTML]="'descriptionNot' | translate"></p>
      </div>
    </div>

    <div class="options">
      <div class="title">
        <span>{{'batteryLevel' | translate}}</span>
      </div>
      <div class="description">
        <p>{{'levelDescription' | translate}}</p>
      </div>
    </div>

    <div class="options">
      <div class="title">
        <span>{{'ringtone' | translate}}</span>
      </div>
      <div class="description">
        <p>{{'rinDescription' | translate}}</p>
      </div>
    </div>

    <div class="options">
      <div class="title">
        <span>{{'onAlarm' | translate}}</span>
      </div>
      <div class="description">
        <p [innerHTML]="'alarmDescription' | translate"></p>
        <p>{{'psAlarmDesc' | translate}}</p>
      </div>
    </div>

    <div class="options">
      <div class="title">
        <span>{{'language' | translate}}</span>
      </div>
      <div class="description">
        <p>{{'languageDescription' | translate}}</p>
      </div>
    </div>

    <div class="options">
      <div class="title">
        <span>{{'darkTheme' | translate}}</span>
      </div>
      <div class="description">
        <p>{{'darkDescription' | translate}}</p>
      </div>
    </div>
    <br><br>
  </div>
</ion-content>

