*{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    --background: var(--background-color);
    //color: #070417;
}

ion-header{
    background: var(--background-color);
    
    .header{
        height: 11vh;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        
        span{
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 20px;
            padding-right: 2vw;
            color: var(--title);
        }
        ion-icon{
            position: absolute;
            padding: 1.5rem;
            font-size: 32px;
            color: var(--title);
        }
    }
}

ion-content{
    --background: var(--background-color);
    color: var(--title);
    .container{
        width: 90vw;
        height: 80%;
        margin: 0 auto;
        background: var(--background-color) ;

        >div{
            background: var(--background-documentation);
            margin-top: 2vh;
            border-radius: 10px;
            display: grid;
            padding: 10px;
        }

        div .title{
            align-self: center;
            font-weight: 500;
            font-size: 1rem;
            line-height: 20px;
            
            span{
                color: var(--title);
            }
        }

        div .description{
            margin-top: 0.8vh;
            background: none;
            align-self: start;
            font-size: 0.9rem;
            font-weight: normal;

            p{
                color: var(--color-value-option);
                span{
                    padding-top: 0;
                    padding-bottom: 0;
                    color: var(--title);
                }

                b{
                    color: var(--title);
                }
            }

            span{
                padding: 0.5vh 1vw 0.5vh 1vw;
                border-radius: 5px;
            }
        }
    }
}