<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">
    <header class="title">
      <p>Your Battery</p>
    </header>

    <main class="circle-progress">
      <circle-progress [percent]="batterylevel" [titleFormat]="formatTitle" [outerStrokeColor]="'#a74fff'"
        [outerStrokeGradientStopColor]="'#7012CE'"></circle-progress>
    </main>

    <div class="option-button-container">
      <div class="option-button-1">
        <ion-button *ngIf="!activeAlarm; else pause" (click)="changeActivationAlarm();scheduleNotification()">
          <ion-icon slot="icon-only" name="play"></ion-icon>
        </ion-button>

        <ng-template #pause>
          <ion-button (click)="changeActivationAlarm();clearNotificaation()">
            <ion-icon name="pause"></ion-icon>
          </ion-button>
        </ng-template>
      </div>

      <div class="option-button-2">
        <ion-button class="button" (click)="presentModal()">
          <ion-icon name="settings-sharp"></ion-icon>
        </ion-button>
      </div>

      <div *ngIf="!activeAlarm; else pauseText" class="option-button-subtitle-1">
        <p>Turn On</p>
      </div>

      <ng-template #pauseText>
        <div class="option-button-subtitle-1">
          <p>Turn Off</p>
        </div>
      </ng-template>

      <div class="option-button-subtitle-2">
        <p>Settings</p>
      </div>
    </div>

    <footer class="footer">
      <p>Made with 💜 by <a target="_blank" rel="noopener noreferrer" href="https://github.com/Vinicius-Fiorio">Vinicius
          Fiorio</a></p>
    </footer>
  </div>
</body>

